.article {
  @extend .section;

  display: flex;
  justify-content: center;

  &__container {
    @extend .container;
  }

  &__one-item {
    @extend .one-item;
  }

  &__list {
    display: flex;
    padding: 0;
    column-gap: 46px;
    margin-left: 93px;
  }

  &__atuts {
    display: flex;
    gap: 30px;
    max-width: 1200px;
  }

  &__box {
    padding: 25px 102.34px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__box-2 {
    padding: 25px 101.54px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__box-3 {
    padding: 33.2px 100px 33.11px 100px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__box-4 {
    padding: 30.23px 115.17px 29.11px 100px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  &__icon {
    fill: #212121;
    transition: 250ms;
  }

  &__icon:hover {
    fill: var(--primary-color);
    transition: 250ms;
  }

  &__slogan {
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-primary-color);
    padding-bottom: 10px;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-primary-color);
  }
}
