.footer {
  background-color: var(--footer-and-section-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @extend .container;
  }

  &__flex {
    display: flex;
    justify-content: left;
    gap: 70px;
  }

  &__address {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  &__place {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--basic-white-color);
    transition: var(--cubic);
  }

  &__place:hover {
    color: var(--primary-color);
    transition: var(--cubic);
  }

  &__contact {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }

  &__contact-details:hover,
  &__logo:hover {
    text-decoration: underline;
    color: var(--primary-color);
    transition: var(--cubic);
  }

  &__contact-details-mail:hover {
    text-decoration: underline;
    color: var(--primary-color);
    transition: var(--cubic);
  }

  &__contact-details {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff99;
    transition: var(--cubic);
  }
}
