.join {
  text-align: left;

  &__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 0px;
    color: var(--basic-white-color);
  }

  &__icon {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }

  &__link {
    display: block;
    padding: 12px;
    background-color: var(--gray-color);
    border-radius: 50%;
    color: var(--basic-white-color);
    transition: var(--cubic);
  }

  &__social {
    width: 20px;
    height: 20px;
    display: block;
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--primary-color);
    transition: var(--cubic);
  }
}
